html{
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	align-content: center;
	align-items: center;
}

body{
	background-image: linear-gradient(to bottom right, #FFD3D4, #96B2FB);
	position: relative;
	padding-bottom: 50px;
	min-height: 100vh;
}

.gototop{
	position: fixed;
	width: 50px;
	height: 50px;
	background: #fff;
	bottom: 40px;
	right: 40px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	border-radius: 25px;
}

.gototop:hover{
	color: #96B2FB;
}

/*Navigation bar*/

nav{
	display: flex;
	width: 100%;
	background-image: linear-gradient(to bottom right, #FFD3D4#96B2FB);
	position: relative;
	justify-content: space-between;
	text-align: center;
	padding: 15px 30px;
}

nav div a {
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	color: #000000;
}

nav ul{
	display: flex;
	list-style: none;
	margin: auto 0;
}

nav ul li{
	margin: 0 2px;
}

nav ul li a{
	color: #000000;
	font-size: 15px;
	text-decoration: none;
	padding: 5px 10px;
}

nav ul li:hover a{
	background-image: linear-gradient(to right, rgba(255,211,212,1), rgba(255,211,212,));
	background: linear-gradient(to right, rgba(255,211,212,1), rgba(255,211,212,0));
	border-radius: 5px;
	transition: 0.3s;
}

nav ul li ul {
	display: none;
	position: absolute;
	background-color: #F0F8FF;
	padding: 7px;
	border-radius: 0px 0px 4px 4px;
	min-width: 160px;
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

nav ul li:hover ul {
	display: block;
}


nav .bar{
	position: relative;
	margin: auto;
	display: none;
}

nav .bar span{
	position: absolute;
	color: #000000;
	font-size: 30px;
}

input[type="checkbox"]{
	-webkit-appearance: none;
	display: none;
}

@media screen and (max-width: 1250px){
	nav{
		display: block;
		padding: 0;
	}
	nav div a{
		display: inline-block;
		padding: 15px 30px;
	}
	
	nav .search_box{
		width: 100%;
		display: inline-flex;
		justify-content: center;
		margin-bottom: 15px;
	}
	
	nav ul{
		display: flex;
		flex-direction: column;
		background-image: linear-gradient(to right, #FFD3D4, #96B2FB);
		height: 0;
		visibility: hidden;
		transition: 0.3s;
	}
	
	nav ul li{
		text-align: center;
	}
	
	nav ul li a{
		color: #000000;
		font-size: 15px;
		padding: 10px;
		display: block;
	}
	
	nav .bar{
		display: block;
		position: absolute;
		top: 20px;
		right: 80px;
		cursor: pointer;
	}
	
	nav .bar #times{
		display: none;
	}
	
	#check:checked ~ nav .bar #times{
		display: block;
	}
	
	#check:checked ~ nav .bar #bars{
		display: none;
	}
	
	#check:checked ~ nav ul{
		visibility: visible;
		height: 200px;
	}
	
	.video-list table tr td{
	width: auto;
	margin-left: 3%;
	float: left;
}
	.pc-list table tr td{
	width: auto;
	margin-left: 3%;
	float: left;
	}
}

/*Footer styling*/
footer{
	text-align: center;
	position: relative;
}


/*Homepage styling*/
.home{
	display: flex;
	background: url("Image/201662827_789554011926135_6547.jpg");
	height: 100vh;
	color: #fff;
	min-height: 500px;
	font-family: 'Poppins',sans-serif;
}

.home .max-width{
	margin: auto 0 auto 40px;
}


.home h2{
	font-size: 50px;
	margin: 5px 0;
}

.home .home-content h1{
	font-size: 70px;
	font-weight: 600;
	margin-left: -1px;
}

div .button{
	position: absolute;
	top: 52%;
	left: 15%;
	transform: translate(-50%,-50%);
}

div .btn{
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 10px 20px;
	text-decoration: none;
	transition: 0.3s ease;
}
div .btn:hover{
	background-color: #fff;
	color: #000000;
}

div .button a{
	color: #fff;
}
.overview{
	padding: 25px;
}


.overview p{
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 6px;
	text-align: center;
}

.disclaimer p{
	padding-left: 200px;
	padding-right: 200px;
	text-align: center;
	padding-bottom: 6px;
	border: 1px solid;
	margin-bottom: 100px;
	background: rgba(211, 211, 211, 0.2);
}

/*Profile styling*/

::selection{
  color: #fff;
  background: #96B2FB;
}
.wrapper{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}

.wrapper img{
 display: block;
 width: 95%;
 padding-top: 10px;
}

.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
  margin-bottom: 10px;
}
.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}

.row-1 ul li{
	list-style: none;
}
.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ff7979;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row section .details,
.row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title{
  font-size: 22px;
  font-weight: 600;
}
.row section p{
  margin: 10px 0 17px 0;
}
.row section .bottom a{
  text-decoration: none;
  background: #ff7979;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover{
  transform: scale(0.97);
}
@media(max-width: 790px){
  .wrapper .center-line{
    left: 40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section{
    width: 100%;
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  }
  
}

@media(max-width: 440px){
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
   display: none;
  }
  .wrapper .row{
    margin: 10px 0;
	display: flex;
  }
}

.container{
	position: relative;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
	margin: 0 auto;
}

.container .card{
	position: relative;
	max-width: 300px;
	height: 250px;
	background: #fff;
	margin: 30px 10px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	transition: 0.3s ease-in-out;
	
}

.container .card:hover{
	height: 350px;
}

.container .card .imgBx{
	position: relative;
	width: 260px;
	height: 260px;
	top: -60px;
	left: 5px;
	z-index: 1;
}

.container .card .imgBx img{
	max-width: 100%;
	border-radius: 4px;
}

.container .card .content{
	position: relative;
	margin-top: -140px;
	padding: 10px 15px;
	text-align: center;
	color: #111;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.container .card:hover .content{
	visibility: visible;
	opacity: 1;
	margin-top: -40px;
	transition-delay: 0.2s;
}

/*Videos styling*/
.video-list{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
	margin: 0 auto;
}

.video-list p{
	padding-top: 15px;
}

.video-list .card{
	position: relative;
	max-width: 310px;
	height: 150px;
	background: #fff;
	margin: 30px 10px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	transition: 0.3s ease-in-out;
}

.video-list .card:hover{
	height: 380px;
}

.video-list .card .imgBx{
	position: relative;
	width: 260px;
	height: 260px;
	top: -60px;
	left: 5px;
	z-index: 1;
}

.video-list .card .imgBx img{
	max-width: 100%;
	border-radius: 4px;
}

.video-list .card .content{
	position: relative;
	margin-top: -140px;
	padding: 10px 15px;
	text-align: center;
	color: #111;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.video-list .card:hover .content{
	visibility: visible;
	opacity: 1;
	margin-top: -50px;
	transition-delay: 0.2s;
}

.video-list .card .content h3{
	padding-left: 15px;
	padding-right: 15px;
}

/*pc gallery styling*/
.pc-list{
	max-width: 1380px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 40px;
}

.pc-list .card{
	position: relative;
	max-width: 200px;
	height: 380px;
	background: #fff;
	margin: 30px 10px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

/*Feedback styling*/

legend{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	text-align: center;
}

fieldset{
	margin-top: 200px;
	display: inline-block;
	border: 1px dotted;
}


table{
	border-collapse: separate;
	border-spacing: 0px 8px;
}

table tr td{
	padding: 0 8px;
}
table tr td span{
	color: #DC143C;
}

table tr td h3{
	font-size: 15px;
}

.rating input{
	display: none;
}

.rating input + label{
	font-size: 20px;
	text-shadow: 1px 1px #ffe400;
	color: #ffe400;
	cursor: pointer;
}

.rating input:checked + label ~ label{
	color: #838383;
	
}

.rating label:active{
	transform: scale(0.8);
	transition: 0.3s ease;
}

input[type="submit"]{
	width: 100px;
}

/*About me styling*/
.abtme{
	padding-top: 20px;
}

.aboutme{
	margin-top: 40px;
}
.aboutme h3{
	font-size: 20px;
}
.aboutme img{
	width: 20%;
	margin-left: 600px;
	padding-top: 10px;
}

.aboutme p{
	text-align: center;
	padding-top: 6px;
	padding-left: 350px;
	padding-right: 350px;
	line-height: 2;
}

h1{
	text-align: center;
	font-size: 30px;
}

h2{
	text-align: center;
	font-size: 25px;
}

h3{
	text-align: center;
	font-size: 15px;
	padding-left: 60px;
	padding-right: 60px;
}